* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: white
}


.leftSideBar {
    top:0;
    left: 0;
    width: 15vw;
    height: 100vh;
    background-color: rgba(20,18,30,1);
}

.sideBar {
    margin-top: 6vh;
    display : flex;
    flex-direction: column;
    color: white;
}

.PFPCircle {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: white;
    height: clamp(50px,2.5vh,9999px);
    width: clamp(50px,2.5vh,9999px);
    margin-bottom: 11vh;
    margin-left: 6vw;
}

.sideBarEl {
    display:flex;
    flex-direction: row;
    margin-left: 3vw;
    font-weight: normal;
    margin-bottom: 5vh;
}

img.invertColor{
    filter: invert(100%);
    width:3vh;
    height: 3vh;
    margin-right: 1vw;
}

.page{
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page .topBar {
    display: flex;
    margin-top: 6vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 6vh;
    flex-direction: row;
    justify-content: space-between;
}

.topBar .description {
    color: black;
    flex:1;
    font-size: small;
}

.topBar .searchBar{
    flex:1;
    justify-content: center;
}

#searchBar{
    border: none;
    background-color: rgba(128,128,128,0.15);
    border-radius: 4px;
    padding: 0.65vh;
}

.topBar .topBarBtns{
    display: flex;
    gap: 1vw;
}

#notificationsBtn{
    width: 4vh;
    height: 4vh;
    padding: 0.5vh;
    margin-right: auto;
    background-image: url(./imgs/icons8-notifications-64.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
}

#expand {
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 4px;
    background-image: url(./imgs/icons8-sliders-30.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.page .progressCalendarProfile {
    display: flex;
    flex-direction: row;
    gap:1vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.progressCalendarProfile .progressContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.progressContainer .classWidget {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    height: 9vh;
}

.classWidget .icon {
    height: 8vh;
}

.icon img{
    object-fit: contain;
}

